<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./partials/head.ejs') %>
    <title>New</title>
</head>
<body>
    <h1 class="title">Add new task</h1>
    <p class="subtitle">Here you can add some new tasks.</p>

    <section class="section">
        <form action="/tasks" method="POST"class="has-background-white-ter px-4 py-3 box is-mobile">
            <div class="field create-name">
                <label class="label" for="name">Task Name:</label>
                <input type="text" class="input" id="name" name="name" placeholder="task name" required>
            </div>
            <div class="field create-description">
                <label class="label" for="description">Task Description (optional):</label>
                <textarea id="description" name="description" class="textarea" placeholder="Hello world"></textarea>
            </div>
    
            <button class="button is-success">Add</button>
        </form>
    </section>

</body>
</html>